{% extends 'clientapp/base.html' %}

{% block content %}
<div class="container">
    <div class="row d-flex align-items-baseline justify-content-end pr-3 pb-2">
        <label for="sort-by">Sort By:</label>
        <select class="ml-2" id="sort-by">
            <option value="{% url 'index' %}?sortby=full_name" id="full_name">
                Name
            </option>

            <option value="{% url 'index' %}?sortby=email_address" id="email_address">
                Email Address
            </option>

            <option value="{% url 'index' %}?sortby=phone_number" id="phone_number">
                Phone Number
            </option>
        </select>
    </div>

    <table class="table">
        <thead class="thead-light">
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Address</th>
                <th scope="col">Contact Name</th>
                <th scope="col">Email</th>
                <th scope="col">Phone Number</th>
            </tr>
        </thead>

        <tbody>
            {% for client in clients %}
            <tr>
                <th scope="row">
                    <a href="{% url 'client_update' client_id=client.id %}">
                        {{ client.full_name }}
                    </a>
                </th>
                <th>{{ client.address }}</th>
                <th>{{ client.contact_name }}</th>
                <th>{{ client.email_address }}</th>
                <th>{{ client.phone_number }}</th>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="row pt-5 pl-4">
        <a href="{% url 'client_new' %}">
            <button type="submit" class="btn btn-primary">Add New</button>
        </a>
    </div>
</div>
{% endblock %}


{% block javascript %}
<script type="text/javascript">
    $(document).ready(function() {
        let params = (new URL(document.location)).searchParams;
        let sortby = params.get("sortby");
        console.log('sortby', sortby);

        $("#"+sortby).attr('selected', 'selected');

        $("#sort-by").change(function() {
            window.location = this.value
        });
    });
</script>
{% endblock %}